<%# <%= render partial: "users/index/users_table" %>

<div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
  <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
    <div data-controller="dialog" data-action="click->dialog#clickOutside" >
      <%= link_to "Add User", new_user_invitation_url(subdomain: @current_site.subdomain), data: {action: "click->dialog#open", turbo_frame: :modal}, class:"flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
      <dialog data-dialog-target="modal" class="backdrop:bg-slate-400 backdrop:opacity-80">
          <%= turbo_frame_tag :modal %>
      </dialog>
    </div>   
  </div>
</div>


<div class="mb-10">
  <%= search_form_for @q do |f| %>
    <%= f.label :full_name_or_country_or_site_users_roles_cont %>
    <%= f.search_field :full_name_or_country_or_site_users_roles_cont %>

    <%= f.submit "Search" %>
  <% end %>
</div>

<table>
  <thead >
    <tr>
      <th class="w-1/3"><%= sort_link(@q, :full_name, default_order: :desc) %></th>
      <th class="w-1/3"><%= sort_link(@q, :site_users_roles, default_order: :desc) %></th>
      <th class="w-1/3"><%= sort_link(@q, :country, default_order: :desc) %></th>


    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.full_name%></th>
        <th><%= user.site_users.first.roles%></th>
        <th><%= user.country%></th>
      </tr>              
    <%end%>
  </tbody>   
  <%== pagy_nav(@pagy) %>     
</table>
