<tr class="border-b dark:border-gray-700">
  <td scope="row" class="px-10 py-3 font-medium text-gray-900 sm:px-5 whitespace-nowrap dark:text-white">
    <div class="flex items-center justify-start sm:justify-start">

      <% if user.avatar.present? %>
        <%= image_tag user.avatar.variant(:thumb), class:"rounded-full mr-4" %>
      <% else %>
        <%= image_tag("https://via.placeholder.com/50", class:"rounded-full mr-4", alt: "User avatar")%>
      <% end %>


      <div class="grid grid-rows-2">
        <div class="row-start-1">
          <%= highlight user.full_name, params.dig(:q, :full_name_or_country_or_site_users_roles_or_email_cont)%>
        </div>
        <div class="text-gray-400">
          <%= highlight user.email, params.dig(:q, :full_name_or_country_or_site_users_roles_or_email_cont) %> 
        </div>
      </div>
    </div>
  </td>
  <td class="px-5 py-3 sm:px-10"><%= highlight user.site_users.first.roles, params.dig(:q, :full_name_or_country_or_site_users_roles_or_email_cont)%></td>
  <td class="px-5 py-3 sm:px-10"><%= highlight user.country, params.dig(:q, :full_name_or_country_or_site_users_roles_or_email_cont)%></td>
  <td class="px-5 py-3 sm:px-10 itemst-center">
    <div class="flex items-center justify-center">
      <%= link_to 'Show', user_path(user), data: {turbo_frame: "_top"}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
      <%= link_to 'Edit', edit_user_path(user), data: {turbo_frame: "_top"}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
    </div>
  </td>
</tr>