<%= turbo_frame_tag :modal do %>
  <div data-action="turbo:submit-end->dialog#submitEnd">
    <div class="flex flex-col items-center justify-center">          
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <div class="mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <h2><%= t "devise.invitations.new.header" %></h2>
          </div>
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="space-y-4 md:space-y-6">
              <% resource.class.invite_key_fields.each do |field| -%>
                <div class="field">
                  <%= f.label field, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                  <%= f.text_field field, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Email' %>
                </div>
              <% end %>

              <div class="field">
                <%= f.label :first_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= f.text_field :first_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'First name' %>
              </div>

              <div class="field">
                <%= f.label :last_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= f.text_field :last_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Last name' %>
              </div>

              <div class="actions">
                <%= f.submit t("devise.invitations.new.submit_button"), class:"w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
              </div>

            </div>
          <% end %>
              <div>
                <button data-action="dialog#close">Cancel</button>
              </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
