<div style="background-color: <%= @site.background_color %>; color: <%= @site.primary_color %>;">
  <h1><%= @site.name %></h1>
  <p><%= @site.subdomain %></p>
</div>
<div>
  <% @site.site_users.each do |site_user| %>
    <%= site_user.user.email %> 
    <%= site_user.roles %>
    <%= link_to 'Profile', user_url(current_user, subdomain: current_user.site_users.first.site.subdomain) %>
  <% end %>
</div>


<%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete } %>
<%= link_to "Sites", sites_url(subdomain: nil) %>
<%= link_to 'Site users', site_users_url(subdomain: @site.subdomain) %>