<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    
    <div class="fixed top-0 left-0 right-0 z-50 bg-slate-200">
      <div class="flex items-center justify-between p-4">
        <div class="">
          logo
        </div>
        <div class="">
          links
        </div>
        <div class="">
          profile
        </div>
      </div>
    </div>
 
    <div id="flash">
      <%= render partial: "layouts/flash" %>
    </div>

    <div class="fixed w-60 flex flex-col justify-between h-[calc(100vh-56px)] bg-slate-400 top-14" >
      <div class="">
        sidebar top
      </div>
      <div class="">
        sidebar bottom
      </div>
    </div>

    <main class="h-screen p-4 ml-60 mt-14 bg-slate-500">
      <%= yield %>
    </main>

  </body>
</html>
